---
import Base from '../layouts/Base.astro'
---

<Base pageTitle="Pagina niet gevonden" bodyClass="page-error" seo={{noindex: true}}>
  <div class="pageContent">
    <div class="c-pageTitle">
      <h1>Pagina niet gevonden</h1>
    </div>
    <div class="c-sectionText">
      <p>De pagina die je zocht bestaat niet (meer).</p>
      <p><a class="btn btn-primary" href="/">Terug naar de homepage</a></p>
    </div>
  </div>
</Base>
